@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.Home h1 {
  position: relative;
  right: 1em;
  color: black;
  font-size: 3em;
  top: 3em;
  font-family: 'Roboto Condensed', sans-serif;

  
}
.Container{
  width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.custom-box, .custom-box1, .custom-box2, .custom-box3, .custom-box4, .custom-box5, .custom-box6 {
  display: flex;
  flex-direction: column;

 align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1em;
  width: 9%; /* Adjust as needed */
  padding-bottom: 0%;
  height: 5%;
  border: 2px solid #2c3e50; /* You can change the border color as needed */
}

h4 {

  font-size: 11px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: perspective(1px) translateZ(0);
  color: var(--fifth);
  padding: 0px;
  word-wrap: normal;
  position: relative;
  width: 100%;
  bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
  background-image: linear-gradient(#092844, #2b329b);
}


span{
  position: relative;
  left: 0rem;
  align-items: center;
  color: azure;
}
.custom-box {
  top: 10em;
  right:5em;
}

.custom-box1 {
  /* left: 4.3rem; */
  bottom: 47.5em;
}

.custom-box2 {
  /* left: 13.6rem; */
  bottom: 93.7em;
}

.custom-box3 {
  /* left: 22.9rem; */
  bottom: 140.7em;
}

.custom-box4 {
  left: 32.3rem;
  bottom: 189em;
}

.custom-box5 {
  left: 41.6rem;
  bottom: 237.2em;
}

.custom-box6 {
  left: 51rem;
  bottom: 284.2em;
}

@media screen and (max-width: 1200px) {
  /* Add responsive styles here */
  .custom-box,
  .custom-box1,
  .custom-box2,
  .custom-box3,
  .custom-box4,
  .custom-box5,
  .custom-box6,
  .custom-box7,
  .custom-box8 {
      width: 10%;
      left: 0;
      right: 0;
      margin: 1em 0;
  }
}

/* @media (max-width : 767px) {
  .cards_Container{
    grid-template-columns: repeat(4, 1fr);
  }
} */
